<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="com.qunar.piao" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>


	<!-- 视图解释类 -->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		<property name="suffix">
			<value>.vm</value>
		</property>
		<property name="contentType">
			<value>text/html;charset=UTF-8</value>
		</property>
	</bean>

	<!-- 对静态资源文件的访问  方案一 （二选一） -->
	<mvc:default-servlet-handler/>

	<!-- ============================================================== -->
	<!-- mvc全局的异常仲裁器 -->
	<!-- ControllerDataException直接返回符合Qunar规范的错误信息（JSON格式） -->
	<!-- 其余Exception统一跳转到error.vm页面 -->
	<!-- ============================================================== -->
	<bean id="exceptionResolver"
		  class="com.qunar.piao.realtime.data.common.exception.resolver.ControllerExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">/common/error</prop>
			</props>
		</property>
	</bean>

	<mvc:annotation-driven />

</beans>
